//! **************************************************************************
// Written by: Map P.20131013 on Tue Nov 24 23:50:58 2015
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "V10" LEVEL 1;
COMP "btnD" LOCATE = SITE "C9" LEVEL 1;
COMP "btnL" LOCATE = SITE "C4" LEVEL 1;
COMP "btnR" LOCATE = SITE "D9" LEVEL 1;
COMP "btnU" LOCATE = SITE "A8" LEVEL 1;
COMP "an<0>" LOCATE = SITE "N16" LEVEL 1;
COMP "an<1>" LOCATE = SITE "N15" LEVEL 1;
COMP "an<2>" LOCATE = SITE "P18" LEVEL 1;
COMP "an<3>" LOCATE = SITE "P17" LEVEL 1;
COMP "sw<0>" LOCATE = SITE "T10" LEVEL 1;
COMP "sw<1>" LOCATE = SITE "T9" LEVEL 1;
COMP "sw<2>" LOCATE = SITE "V9" LEVEL 1;
COMP "sw<3>" LOCATE = SITE "M8" LEVEL 1;
COMP "sw<4>" LOCATE = SITE "N8" LEVEL 1;
COMP "sw<5>" LOCATE = SITE "U8" LEVEL 1;
COMP "sw<6>" LOCATE = SITE "V8" LEVEL 1;
COMP "sw<7>" LOCATE = SITE "T5" LEVEL 1;
COMP "led<0>" LOCATE = SITE "U16" LEVEL 1;
COMP "led<1>" LOCATE = SITE "V16" LEVEL 1;
COMP "led<2>" LOCATE = SITE "U15" LEVEL 1;
COMP "led<3>" LOCATE = SITE "V15" LEVEL 1;
COMP "led<4>" LOCATE = SITE "M11" LEVEL 1;
COMP "led<5>" LOCATE = SITE "N11" LEVEL 1;
COMP "led<6>" LOCATE = SITE "R11" LEVEL 1;
COMP "led<7>" LOCATE = SITE "T11" LEVEL 1;
COMP "seg<0>" LOCATE = SITE "T17" LEVEL 1;
COMP "seg<1>" LOCATE = SITE "T18" LEVEL 1;
COMP "seg<2>" LOCATE = SITE "U17" LEVEL 1;
COMP "seg<3>" LOCATE = SITE "U18" LEVEL 1;
COMP "seg<4>" LOCATE = SITE "M14" LEVEL 1;
COMP "seg<5>" LOCATE = SITE "N14" LEVEL 1;
COMP "seg<6>" LOCATE = SITE "L14" LEVEL 1;
TIMEGRP sys_clk_pin = BEL "clkModule/display_dv_17" BEL
        "clkModule/display_dv_16" BEL "clkModule/display_dv_18" BEL
        "clkModule/display_dv_14" BEL "clkModule/display_dv_13" BEL
        "clkModule/display_dv_15" BEL "clkModule/display_dv_11" BEL
        "clkModule/display_dv_10" BEL "clkModule/display_dv_12" BEL
        "clkModule/display_dv_8" BEL "clkModule/display_dv_7" BEL
        "clkModule/display_dv_9" BEL "clkModule/display_dv_5" BEL
        "clkModule/display_dv_4" BEL "clkModule/display_dv_6" BEL
        "clkModule/display_dv_2" BEL "clkModule/display_dv_1" BEL
        "clkModule/display_dv_3" BEL "clkModule/display_dv_0" BEL
        "clkModule/oneHz_dv_7" BEL "clkModule/oneHz_dv_6" BEL
        "clkModule/oneHz_dv_5" BEL "clkModule/oneHz_dv_4" BEL
        "clkModule/oneHz_dv_3" BEL "clkModule/oneHz_dv_2" BEL
        "clkModule/oneHz_dv_1" BEL "clkModule/oneHz_dv_0" BEL
        "clkModule/oneHz_en" BEL "clkModule/display_en" BEL
        "stateModule/state_0" BEL "stateModule/display_combo_reg" BEL
        "stateModule/async_displayCombo_ff_1" BEL
        "stateModule/async_displayCombo_ff_0" BEL "stateModule/arst_ff_1" BEL
        "stateModule/arst_ff_0" BEL "scoreModule/multiplier_reg_3" BEL
        "scoreModule/multiplier_reg_2" BEL "scoreModule/multiplier_reg_1" BEL
        "scoreModule/multiplier_reg_0" BEL "scoreModule/posedge_correctHit_0"
        BEL "scoreModule/score_reg_13" BEL "scoreModule/score_reg_12" BEL
        "scoreModule/score_reg_11" BEL "scoreModule/score_reg_10" BEL
        "scoreModule/score_reg_9" BEL "scoreModule/score_reg_8" BEL
        "scoreModule/score_reg_7" BEL "scoreModule/score_reg_6" BEL
        "scoreModule/score_reg_5" BEL "scoreModule/score_reg_4" BEL
        "scoreModule/score_reg_3" BEL "scoreModule/score_reg_2" BEL
        "scoreModule/score_reg_1" BEL "scoreModule/score_reg_0" BEL
        "scoreModule/combos_13" BEL "scoreModule/combos_12" BEL
        "scoreModule/combos_11" BEL "scoreModule/combos_10" BEL
        "scoreModule/combos_9" BEL "scoreModule/combos_8" BEL
        "scoreModule/combos_7" BEL "scoreModule/combos_6" BEL
        "scoreModule/combos_5" BEL "scoreModule/combos_4" BEL
        "scoreModule/combos_3" BEL "scoreModule/combos_2" BEL
        "scoreModule/combos_1" BEL "scoreModule/combos_0" BEL
        "scoreModule/posedge_incorrectHit_0" BEL
        "scoreModule/is_posedge_correctHit" BEL
        "scoreModule/is_posedge_incorrectHit" BEL
        "arrowModule/posedge_metronome_clk_0" BEL "arrowModule/arrow0_reg_4"
        BEL "arrowModule/arrow0_reg_2" BEL "arrowModule/arrow0_reg_1" BEL
        "arrowModule/arrow0_reg_0" BEL "arrowModule/arrow1_reg_4" BEL
        "arrowModule/arrow1_reg_2" BEL "arrowModule/arrow1_reg_1" BEL
        "arrowModule/arrow1_reg_0" BEL "arrowModule/arrow2_reg_4" BEL
        "arrowModule/arrow2_reg_2" BEL "arrowModule/arrow2_reg_1" BEL
        "arrowModule/arrow2_reg_0" BEL "arrowModule/is_posedge_metronome_clk"
        BEL "arrowModule/arrow3_reg_4" BEL "arrowModule/arrow3_reg_2" BEL
        "arrowModule/arrow3_reg_1" BEL "arrowModule/arrow3_reg_0" BEL
        "collisionModule/keysPressed_4" BEL "collisionModule/keysPressed_2"
        BEL "collisionModule/keysPressed_1" BEL
        "collisionModule/keysPressed_0" BEL "collisionModule/posedge_up_0" BEL
        "collisionModule/is_posedge_right" BEL
        "collisionModule/posedge_right_0" BEL "collisionModule/posedge_left_0"
        BEL "collisionModule/is_posedge_down" BEL
        "collisionModule/is_posedge_left" BEL "collisionModule/is_posedge_up"
        BEL "collisionModule/posedge_down_0" BEL "stateModule/state_1" BEL
        "collisionModule/incorrectHit_reg" BEL
        "collisionModule/correctHit_reg" BEL
        "arrowModule/is_posedge_metronome_clk_1" BEL
        "arrowModule/is_posedge_metronome_clk_2" BEL "clk_BUFGP/BUFG" BEL
        "scoreModule/Mshreg_posedge_correctHit_1" BEL
        "scoreModule/posedge_correctHit_1" BEL
        "scoreModule/Mshreg_posedge_incorrectHit_1" BEL
        "scoreModule/posedge_incorrectHit_1" BEL
        "arrowModule/Mshreg_posedge_metronome_clk_1" BEL
        "arrowModule/posedge_metronome_clk_1" BEL
        "collisionModule/Mshreg_posedge_up_1" BEL
        "collisionModule/posedge_up_1" BEL
        "collisionModule/Mshreg_posedge_down_1" BEL
        "collisionModule/posedge_down_1" BEL
        "collisionModule/Mshreg_posedge_right_1" BEL
        "collisionModule/posedge_right_1" BEL
        "collisionModule/Mshreg_posedge_left_1" BEL
        "collisionModule/posedge_left_1";
TS_sys_clk_pin = PERIOD TIMEGRP "sys_clk_pin" 100 MHz HIGH 50%;
SCHEMATIC END;

